@tailwind base;
@tailwind components;
@tailwind utilities;

.cloudy-day {
  background: url('./assets/day/cloud.jpg') no-repeat center;
  background-size: cover;
}
.cloudy-night {
  background: url('./assets/night/cloud.jpg') no-repeat center;
  background-size: cover;
}

.clear-day {
  background: url('./assets/day/clear.jpg') no-repeat center;
  background-size: cover;
}
.clear-night {
  background: url('./assets/night/clear.jpg') no-repeat center;
  background-size: cover;
}

.rainy-day {
  background: url('./assets/day/rain.jpg') no-repeat center;
  background-size: cover;
}
.rainy-night {
  background: url('./assets/night/rain.jpg') no-repeat center;
  background-size: cover;
}

.snowy-day {
  background: url('./assets/day/snow.jpg') no-repeat center;
  background-size: cover;
}
.snowy-night {
  background: url('./assets/night/snow.jpg') no-repeat center;
  background-size: cover;
}
